html { 
    background: url(./coffeeBackground.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .homePage{
    -webkit-text-stroke: .5px black;
    color: white;
    
  }
  .contactPage {
    color: blue;
  }
  .menuPage {
    color: forestgreen;
  }